{{define "addUser.html"}}
{{template "header.html"}}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-6" >
            <svg xmlns="http://www.w3.org/2000/svg" width="66" height="66" fill="currentColor" class="bi bi-person-add" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5a.5.5 0 0 0-1 0v1h-1a.5.5 0 0 0 0 1h1v1a.5.5 0 0 0 1 0v-1h1a.5.5 0 0 0 0-1h-1v-1Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"/>
                <path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"/>
            </svg>
            添加用户

        </h1>
        <div class="alert alert-secondary" role="alert" style="margin-top: 20px;">
            连续3天没有打卡的，要jt一下情况，若有够不上的，需要暂时从sg群里离开，当再有心并有度量继续来操练享受诗歌的时候，随时欢迎回来！
        </div>
        <form class="form-inline"  action="/addUser" method="post">
            <div class="form-group mb-2">
                <label for="question" class="sr-only"></label>
                <input type="text" class="form-control" id="question"  name="answer" placeholder="gxz的意思为:">
            </div>

            <div class="form-group mx-sm-3 mb-2">
                <label for="input" class="sr-only"></label>
                <input type="text" class="form-control" id="input" name="username" placeholder="微信号:">
            </div>
            <button type="submit" class="btn btn-dark mb-2" >添加</button>

        </form>

        <div class="alert alert-success" role="alert" style="margin-top: 20px;">

            <p>输入自己的微信号!
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-wechat" viewBox="0 0 16 16">
                    <path d="M11.176 14.429c-2.665 0-4.826-1.8-4.826-4.018 0-2.22 2.159-4.02 4.824-4.02S16 8.191 16 10.411c0 1.21-.65 2.301-1.666 3.036a.324.324 0 0 0-.12.366l.218.81a.616.616 0 0 1 .029.117.166.166 0 0 1-.162.162.177.177 0 0 1-.092-.03l-1.057-.61a.519.519 0 0 0-.256-.074.509.509 0 0 0-.142.021 5.668 5.668 0 0 1-1.576.22ZM9.064 9.542a.647.647 0 1 0 .557-1 .645.645 0 0 0-.646.647.615.615 0 0 0 .09.353Zm3.232.001a.646.646 0 1 0 .546-1 .645.645 0 0 0-.644.644.627.627 0 0 0 .098.356Z"/>
                    <path d="M0 6.826c0 1.455.781 2.765 2.001 3.656a.385.385 0 0 1 .143.439l-.161.6-.1.373a.499.499 0 0 0-.032.14.192.192 0 0 0 .193.193c.039 0 .077-.01.111-.029l1.268-.733a.622.622 0 0 1 .308-.088c.058 0 .116.009.171.025a6.83 6.83 0 0 0 1.625.26 4.45 4.45 0 0 1-.177-1.251c0-2.936 2.785-5.02 5.824-5.02.05 0 .1 0 .15.002C10.587 3.429 8.392 2 5.796 2 2.596 2 0 4.16 0 6.826Zm4.632-1.555a.77.77 0 1 1-1.54 0 .77.77 0 0 1 1.54 0Zm3.875 0a.77.77 0 1 1-1.54 0 .77.77 0 0 1 1.54 0Z"/>
                </svg>
            </p>

            <p>例如输入UranaraSpring 结果显示为Uran***ing。</p>
        </div>
        <div class="alert alert-danger" role="alert" style="margin-top: 20px;">
            请不要输入自己的姓名或者个人信息!
        </div>
        <div class="alert alert-info" role="alert" style="margin-top: 20px;">
            请记得，我们的操练固然可以彼此鼓励，但主要是我们个人和zhu之间的故事，并不是应付一个操练的项目也不是给人看的，我们所安排的一些形式和标准都是为了与zhu更深，求zhu给我们单纯的心和火热的灵，唱诗上行，直到祂来!
        </div>
    </div>
</div>
{{template "footer.html"}}

{{end}}