{{define "footer.html"}}


<nav class="navbar fixed-bottom navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="../assets/images/icons8-fish-96.png" width="30" height="30" class="d-inline-block align-top"
                 alt="">
            Jesusnb.top

        </a>
        <img src="../assets/images/icons8-go-48.png" width="30" height="30" class="d-inline-block align-top"
             alt="GOLAND">
        <span class="navbar-text">
      管理员邮箱:2392778624@qq.com
    </span>

    </div>

</nav>

{{end}}