{{define "index.html"}}
{{template "header.html"}}


<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-6"> 唱大本sg敬拜fu和赞美zhu系列，即6-193首为范围，每周一首</h1>
        <p class="lead">个人每天打卡，以及每周会轮值dxzm作为当周的小管家，发诗歌+当周诗歌打卡方式+每天的唱诗打卡提醒（+另外愿意多摆上一点鼓励加上赏析或个人对诗歌的感受）。
        </p>
        <h1 id="datetime"></h1>
        <h1 style="text-align: center" id="weekday"></h1>
        <div class="bs-example" data-example-id="simple-table">
            <table class="table">
                <caption>原则上每天提醒和唱诗歌打卡不要晚于10点前后，有特殊情况的可以第二天补唱。
                </caption>
                <thead>
                <tr>
                    <th>#</th>
                    <th>昵称</th>
                    <th>周一</th>
                    <th>周二</th>
                    <th>周三</th>
                    <th>周四</th>
                    <th>周五</th>
                    <th>周六</th>
                </tr>
                </thead>
                <tbody>


                </tbody>
            </table>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link">上一周</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">下一周</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<hr>

<form action="/add" id="addUser">
    <input type="text" name="username" id="">
    <button>提交</button>
</form>

{{template "footer.html"}}
{{end}}