{{define "index.html"}}
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../assets/css/bootstrap.css">
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/bootstrap.js"></script>
    <script src="../assets/js/common.js"></script>
    <script src="../assets/js/index.js"></script>
    <script>


    </script>

    <style rel="stylesheet">
        .form-check-input {
            width: 20px;
            height: 20px;
        }

        body {
            height: 1800px;
        }
    </style>

</head>

<body>

<div class="bs-example" data-example-id="simple-table">
    <form action="/form" id="Form">
        <div class="container">
            <table class="table">
                <caption>Optional table caption.</caption>
                <thead>
                <tr>
                    <th>#</th>
                    <th>姓名</th>
                    <th>周一</th>
                    <th>周二</th>
                    <th>周三</th>
                    <th>周四</th>
                    <th>周五</th>
                    <th>周六</th>
                </tr>
                </thead>

                <tbody>


                <tr>
                    <th scope="row">1</th>
                    <td>
                        jack
                    </td>
                    <td>
                        <input class="form-check-input Mon" type="checkbox" name="punch" value="jack" >
                    </td>
                    <td>
                        <input class="form-check-input Tue" type="checkbox" name="punch" value="jack">
                    </td>
                    <td>
                        <input class="form-check-input Wed" type="checkbox" name="punch" value="jack">
                    </td>
                    <td>
                        <input class="form-check-input Thu" type="checkbox" name="punch" value="jack">
                    </td>
                    <td>
                        <input class="form-check-input Fri" type="checkbox" name="punch" value="jack">
                    </td>
                    <td>
                        <input class="form-check-input Sat" type="checkbox" name="punch" value="jack">
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>
                        pony
                    </td>
                    <td>
                        <input class="form-check-input Mon" type="checkbox" name="punch" value="pony">
                    </td>
                    <td>
                        <input class="form-check-input Tue" type="checkbox" name="punch" value="pony">
                    </td>
                    <td>
                        <input class="form-check-input Wed" type="checkbox" name="punch" value="pony">
                    </td>
                    <td>
                        <input class="form-check-input Thu" type="checkbox" name="punch" value="pony">
                    </td>
                    <td>
                        <input class="form-check-input Fri" type="checkbox" name="punch" value="pony">
                    </td>
                    <td>
                        <input class="form-check-input Sat" type="checkbox" name="punch" value="pony">
                    </td>
                </tr>

                <tr>
                    <th scope="row">3</th>
                    <td>
                        peter
                    </td>
                    <td>
                        <input class="form-check-input Mon" type="checkbox" name="punch" value="peter">
                    </td>
                    <td>
                        <input class="form-check-input Tue" type="checkbox" name="punch" value="peter">
                    </td>
                    <td>
                        <input class="form-check-input Wed" type="checkbox" name="punch" value="peter">
                    </td>
                    <td>
                        <input class="form-check-input Thu" type="checkbox" name="punch" value="peter">
                    </td>
                    <td>
                        <input class="form-check-input Fri" type="checkbox" name="punch" value="peter">
                    </td>
                    <td>
                        <input class="form-check-input Sat" type="checkbox" name="punch" value="peter">
                    </td>
                </tr>


                </tbody>
            </table>
        </div>
    </form>
</div>
<hr>

<form  action="/add"  id="addUser">
    <input type="text" name="username" id="">
    <button>提交</button>
</form>
<script>

</script>
</body>
</html>
{{end}}